<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Intro Email</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>
        I hope you're doing well! My name is {{ sender_name }} and I lead outreach at {{ sender_company }}.
        I noticed that you're a {{ role }} at {{ company }} in the {{ industry }} industry, and I thought we might have some common interests.
    </p>
    <p>
        I'd love to discuss how our solution could help {{ company }} achieve its goals. Are you available for a quick chat sometime this week?
    </p>
    <p>
        Best regards,<br>
        {{ sender_name }}
    </p>
</body>
</html>
